.gallery {
  margin-top: 2%;
}

#gallery {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.gallery-thumb {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-thumb:hover {
  transform: scale(1.05);
}

.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  user-select: none;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

@media (max-width: 767px) {

  #gallery {
     grid-template-columns: repeat(1, 1fr);
  }

  .gallery-thumb {
    padding: 10px;
    height: 600px;
  }
}
